* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0; }

a {
  text-decoration: none;
  display: block; }

button {
  background: none;
  border: 0; }
  button:focus {
    outline: none; }

ul li {
  list-style: none; }

body {
  background-color: #ebebeb;
  font-family: 'Open Sans', sans-serif;
  color: #404040;
  font-size: 16px; }

.wrapper {
  width: 1300px;
  padding: 0 20px;
  margin: 0 auto; }

button {
  border: 1px solid #fff;
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff; }

h2 {
  font-weight: 600; }

h3 {
  font-size: 22px; }

h5 {
  font-size: 20px;
  font-weight: bold; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

@media (max-width: 1300px) {
  .wrapper {
    width: 100%; } }
@media (max-width: 767px) {
  .grid-3 {
    grid-template-columns: 1fr; } }
header {
  background-color: #fff;
  border-bottom: 10px solid #193989;
  z-index: 999; }
  header.show-menu {
    height: 410px; }
  header .wrapper {
    display: grid;
    grid-template-columns: 100px auto 1fr;
    align-items: center;
    grid-gap: 30px;
    align-items: flex-end; }
  header .header-text {
    text-align: center;
    font-weight: bold;
    color: #009bfa;
    padding: 0 30px;
    border-right: 1px solid #c6c6c6;
    margin-bottom: 20px; }
    header .header-text .platform {
      color: #193989;
      font-size: 40px;
      line-height: 110%; }
  header .logo img {
    width: 100%; }
  header nav {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px; }
    header nav .mobile-nav-title {
      display: none;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #c6c6c6;
      margin: 0 10px;
      color: #193989; }
    header nav.open {
      display: grid;
      grid-template-rows: 40px 1fr; }
      header nav.open .mobile-logo {
        display: block; }
      header nav.open .mobile-nav-title {
        display: block; }
    header nav ul {
      display: grid;
      grid-template-columns: repeat(5, auto); }
      header nav ul li a {
        position: relative;
        cursor: pointer; }
  header .mobile-logo {
    display: none;
    width: 110px; }
    header .mobile-logo img {
      width: 100%; }
  header .mobile-nav {
    display: none;
    border: 0;
    padding: 0;
    width: 25px; }
    header .mobile-nav:hover::after {
      display: none; }
    header .mobile-nav .line {
      display: block;
      height: 3px;
      width: 100%;
      background-color: #193989;
      transition: transform 0.2s linear, opacity 0.2s linear;
      border-radius: 6px; }
      header .mobile-nav .line:not(:last-child) {
        margin-bottom: 4px; }
    header .mobile-nav.open .line {
      background-color: #d12121; }
      header .mobile-nav.open .line:first-child {
        transform: translateX(-100%);
        opacity: 0; }
      header .mobile-nav.open .line:last-child {
        transform: translateX(100%);
        opacity: 0; }

@media (max-width: 768px) {
  header {
    border-bottom: 0;
    height: 60px;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
    position: fixed;
    width: 100%;
    top: 0; }
    header .wrapper {
      align-items: center;
      grid-template-columns: auto auto; }
      header .wrapper nav {
        padding-bottom: 0;
        position: absolute;
        width: 100%;
        background: #fff;
        height: 100%;
        top: 60px;
        left: 0; }
        header .wrapper nav ul {
          grid-template-columns: 1fr;
          align-content: start;
          grid-gap: 10px;
          padding: 10px; }
          header .wrapper nav ul li {
            background-color: #ebebeb;
            padding: 15px 10px;
            width: 100%;
            text-align: center; }
    header .header-text,
    header .logo {
      display: none; }
    header .mobile-logo {
      width: 110px;
      display: block; }
    header .mobile-nav {
      justify-self: flex-end;
      display: block; }

  body {
    padding-top: 60px; } }
.hero {
  height: 450px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/images/hero.jpg");
  align-items: center;
  display: flex;
  color: #fff; }
  .hero__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%; }
  .hero__sub-title {
    font-weight: 100;
    font-size: 21px;
    margin-top: 15px; }

.insights {
  padding: 30px 0; }
  .insights__cards {
    margin-top: 15px;
    grid-gap: 30px; }
    .insights__cards .insights__card {
      text-align: center;
      padding: 20px;
      background: #fff;
      box-shadow: 0 0 4px #707070; }
      .insights__cards .insights__card img {
        width: 100%; }
      .insights__cards .insights__card h4 {
        text-align: left;
        margin-top: 15px;
        font-size: 20px; }
      .insights__cards .insights__card.blue {
        border-bottom: 8px solid #1450d2;
        color: #1450d2; }
      .insights__cards .insights__card.green {
        border-bottom: 8px solid #01a49c;
        color: #01a49c; }
      .insights__cards .insights__card.light-blue {
        border-bottom: 8px solid #009bfa;
        color: #009bfa; }

.who-we-are {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/images/bg.jpg");
  color: #fff;
  height: 447px;
  text-align: center; }
  .who-we-are .wrapper {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; }
  .who-we-are p {
    color: #ebebeb;
    margin-top: 15px; }
  .who-we-are button {
    margin-top: 40px; }

.events {
  padding: 30px 0; }
  .events__event {
    margin-top: 35px;
    grid-gap: 30px; }
    .events__event .event {
      padding: 20px 20px 80px 20px;
      background-color: #1450d2;
      color: #fff;
      position: relative; }
      .events__event .event h5 {
        margin: 10px 0; }
      .events__event .event button {
        margin-top: 15px; }
      .events__event .event__date {
        margin: -40px 0 0 0;
        background: #001254;
        width: 90px;
        line-height: 24px;
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative; }
        .events__event .event__date::before {
          content: "";
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #3b4e96;
          border-right: 10px solid #3b4e96;
          top: 0;
          left: -20px;
          position: absolute;
          border-left: 10px solid transparent; }
        .events__event .event__date .day {
          font-size: 30px;
          font-weight: bold; }
      .events__event .event .location {
        right: -1px;
        position: absolute;
        bottom: -1px;
        padding: 10px 20px;
        width: 80%;
        background-color: #ebebeb;
        color: #404040;
        font-weight: 900;
        text-align: right;
        font-size: 14px; }
        .events__event .event .location::before {
          content: "";
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid #ebebeb;
          border-right: 30px solid #ebebeb;
          top: -1px;
          left: -59px;
          position: absolute;
          border-left: 30px solid transparent; }

@media (max-width: 768px) {
  .events__event {
    grid-gap: 60px; } }
footer {
  background-color: #707070;
  color: #c6c6c6;
  padding: 10px 0 20px 0; }
  footer .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between; }
  footer .footer-cta .cta {
    display: flex; }
    footer .footer-cta .cta a {
      color: #fff;
      margin-left: 5px; }
  footer .social-media {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center; }
    footer .social-media ul {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 10px;
      align-items: center; }
      footer .social-media ul li a {
        height: 30px;
        width: 30px;
        background: #c6c6c6;
        padding: 5px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        footer .social-media ul li a svg {
          height: 100%; }

@media (max-width: 600px) {
  footer .wrapper {
    grid-template-columns: auto;
    grid-gap: 10px; } }

/*# sourceMappingURL=styles.css.map */
