$white: #fff;
$black: #404040;
$red: rgb(209, 33, 33);

$green: #01a49c;

$gray: #ebebeb;
$gray--100: #c6c6c6;
$gray--200: #707070;
$gray--300: #c6c6c6;

$blue--100: #009bfa;
$blue--200: #193989;
$blue--300: #1450d2;
$blue--400: #001254;
$blue--500: #3b4e96;